body {
    text-align: center;
}

.board {
    margin: auto;
    width: 350px;
}

.board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em
}

.header-layout {
    padding: 40px;
    text-align: center;
    background: #39a4d6;
    color: white;
    font-size: 24px;
    font-family: "Sofia", sans-serif;
}